<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>969375177-sq88bujo545i933653mo94gv2qrdcmf1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969375177-sq88bujo545i933653mo94gv2qrdcmf1</string>
	<key>API_KEY</key>
	<string>AIzaSyDnlHlkgzCeV152yeILtOqL_ZTOVr4W08o</string>
	<key>GCM_SENDER_ID</key>
	<string>969375177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kaiwaton.social</string>
	<key>PROJECT_ID</key>
	<string>socialnet-a4540</string>
	<key>STORAGE_BUCKET</key>
	<string>socialnet-a4540.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:969375177:ios:44556c0f154d3c2a</string>
	<key>DATABASE_URL</key>
	<string>https://socialnet-a4540.firebaseio.com</string>
</dict>
</plist>